body{
    margin: 0 auto;
    background-color:#C5E99B;
}

.header_flam{
    width: 960px;
    margin: 0 auto;
    
}

header{
    background-color: #fcfbb3;
    border-bottom:1px solid #664433;
    color:#664433;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.header_left{
    float: left;
    display:block;
    width:300px;
}

.header_flam>ul{
    display: flex;
    padding-left: 0px;
    clear:both;
    margin: 5px 3px 5px 3px;
}

.header_flam>ul>li{
    text-align: center;
    list-style: none;
    flex:2;
    border-right:1px solid gray;
    color:#664433;
    
}

.header_flam>ul>li:last-child{
    border-right:none; 
}

.header_flam>ul>li>a{
    text-decoration:none;
    color:#664433;
    display:block;
}

.contens{ 
    margin:0 auto;
    background-color:#f5f5dd;;
    width: 960px;
    height: auto;
}

#main{
    clear: left;
    width: 100%;
    overflow: hidden;
}


h1{
    color:#664433;
    font-size: 16px;

}

article{
    width:960px;
    float:left;
    margin-right: 18px;

}

.sub_article1,.sub_article2,.sub_article3,.sub_article4{
    background-color:white;
    padding: 1px 7px 10px 5px;
    margin: 20px 0px;
}

h2{
    background-color:#7AA737;
    color:white;
    border-radius: 20px;
    padding: 5px 5px 5px 39px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

#introduction{
    display:flex;
    list-style: none;
    font-size: 11px;
    text-align: center;
}

.profile{
    overflow: hidden;
    padding: 5px;
}

.recipe_description_indent{
    text-indent: 1em;
}

.work{
    display:flex;
}

.item{
    width:300px;
    background-color:#EFFFE9;
    margin: 0px 3px;
    text-align: center;
    display:block;
    padding: 0px 10px 10px 0px;
}

h3{
    text-align: center;
    color:#664433;
    font-weight:bolder;
    font-size: 16px;
}



.item_img{
    width:280px;
    height: 180px;
    margin:15px;
}

.item_btn{
    text-decoration: none;
    font-weight: 900;
    color: white;
    background-color: #7AA737;
    padding:0px 7px;
}

footer{
    background-color:white;
    color:#664433;
    padding-top: 10px;
    clear:both;
    border-top:1px solid #664433;
}




.copyright{
    text-align: center;
    color:gray;
    margin:0px;
}

